# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
urban-emotion/

# Data (don’t upload large files)
images/
data/*.parquet

# System
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/statistical-gis-boundaries-london.zip
data/os_open_roads/

# Pilot files
data/pilot_*
